.container-fluid
  .row-fluid
    .span2
    .span6
      %center 
        %a{ :href => "http://store.steampowered.com/app/#{@game.appid}" }
          %img{:src => "http://cdn2.steampowered.com/v/gfx/apps/#{@game.appid}/header_292x136.jpg", :width=>'200px'}
       
        %h1
          %a{ :href => "http://store.steampowered.com/app/#{@game.appid}/" }= @game.title
        %table{:class => 'table'}
          %tr
            %td Steam Id
            %td= @game.appid
          %tr
            %td App Type
            %td= @game.app_type
          %tr 
            %td Metacritic Site
            %td
              %a{:href=> @game.metacritic}= @game.metacritic
          %tr
            %td Genres
            %td= @game.genres.map { |genre| genre.name }.join(", ")
          %tr
            %td Owned By
            %td= @game.owned
      .row-fluid
        .span6
          %center 
            %h3 Total Playtime
            %table{:class => 'table'}
              %tr
                %td Played Game
                %td= (@game.owned - @game.not_played) if @game.owned && @game.not_played
              %tr
                %td Hours Played
                %td= @game.total_playtime.to_i || 0
              %tr
                %td Mean Hours Played
                %td= @game.total_mean.to_i || 0
        .span6
          %center
            %h3 Recent Playtime
            %table{:class => 'table'}
              %tr
                %td Played Recently
                %td= @game.recent_played || 0
              %tr
                %td Hours Played
                %td= @game.recent_playtime.to_i || 0
              %tr
                %td Mean Hours Played
                %td= @game.recent_mean.to_i || 0

  %div= haml :footer
