:css
  .table td.recomms { 
    text-align: center;
  }
  .table th.recomms, .table td.recomms { 
    border-top: none;
  }
.container
  .row
    .col-md-1
    .col-md-10
      %center
        %h2 Recommendations
        .row
          .col-md-1
          .col-md-5
            %h3 Should Play
            - @not_played.each do |e_game|
              .row
                %a{ :href => "games/#{e_game['appid']}" }= e_game['title']
                %br
                %a{ :href => e_game['steam_url'] }
                  %img{:src => e_game['steam_img_url'], :width=>'150px'}
                %br 
                %a{ :href => "games/#{e_game['appid']}" }= e_game['score']
          .col-md-5
            %h3 Should Buy
            - @not_owned.each do |n_game|
              .row
                %a{ :href => "games/#{n_game['appid']}" }= n_game['title']
                %br
                %a{ :href => n_game['steam_url'] }
                  %img{:src => n_game['steam_img_url'], :width=>'150px'}
                %br 
                %a{ :href => "games/#{n_game['appid']}" }= n_game['score']


      %hr
  .row
    .col-md-1
    .col-md-10
      %center
        %ul.pagination
          - if (@page == 1)
            %li.disabled
              %a{ :href => "recomms_submit?steamid=#{@steamid}&page=1"}
                &laquo;
          - else
            %li
              %a{ :href => "recomms_submit?steamid=#{@steamid}&page=#{@page-1}" }
                &laquo;
          - (1..9).each do |x|
            - if (@page == x)
              %li.active 
                %a{ :href => "recomms_submit?steamid=#{@steamid}&page=#{x}"}= x
            - else
              %li 
                %a{ :href => "recomms_submit?steamid=#{@steamid}&page=#{x}"}= x
          - if (@page == 9)
            %li.disabled
              %a{ :href => "recomms_submit?steamid=#{@steamid}&page=9"}
                &raquo;
          - else
            %li
              %a{ :href => "recomms_submit?steamid=#{@steamid}&page=#{@page+1}"}
                &raquo;
        
  .row
    .col-md-1
    .col-md-10
      %center
        = google_ad()
  .row
    .col-md-1
    .col-md-10
      %div= haml :footer


